@font-face {
	font-family: 'iconfont';  /* Project id 3849514 */
	src: url('//at.alicdn.com/t/c/font_3849514_k2p84vlv9ne.woff2?t=1672750560222') format('woff2'),
	url('//at.alicdn.com/t/c/font_3849514_k2p84vlv9ne.woff?t=1672750560222') format('woff'),
	url('//at.alicdn.com/t/c/font_3849514_k2p84vlv9ne.ttf?t=1672750560222') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 25px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
